html, body, div {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

li {
list-style: none;
padding-right: 10px;
}

a {
  color: black;
  text-align: center;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  position:fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: left;
  overflow: hidden;
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-right {
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
    
}

.nav-right li{
  background-color: white;
  float: left;
}

.nav-left {
  background-color: white;
  align-content: flex-start;
}

.nav-left li {
  background-color: white;
  float: left;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: white;
}
  
.main-container img {
  display: flex;
  padding-top: 190px;
}

.search-box {
  min-width: 500px;
  height: 30px;
  position: relative;
  margin: 0 auto;
}

input.search-box {
  padding-left: 45px;
  border-radius: 45px;
  border: 0.5px solid grey;
}

.search-buttons {
  align-content: center;
}

#g-search, #f-lucky{
  background-color: #f2f2f2;
  border: none;
  color: #5F6368;
  font-size: 14px;
  margin: 11px 4px;
  border-radius: 4px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: grey;
}

.footer-left li {
  float: left;
}

.footer-right li {
  float: right;
}
